span,
input {
	border:2px solid rgba(255,255,255,.5);
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	border-radius:.25em;
	background:transparent;
	transition:all .100s;
	&:focus{
		outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
	}

	&.keyup {
		color:white;
		border-color:white;
		text-shadow:0 0 .125em white;
		box-shadow:0 0 .25em white,inset 0 0 .25em white;
	}
}
table{
position:absolute;
display:block;
top:40%;
left:40%;
    text-align:center;

}
button {
    position: relative;
    margin-left:10px;
  padding: 1.6em 2.8em;
  font-weight: bold;
  background-color: #ff2c5a;
  color: white;
}
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(#82d890, #ceee19, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  margin-top: 10px;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;

  &:focus { outline: 2px dotted #7ee669; }
}

canvas {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	pointer-events:none;
}

input {
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

$placeholder-color:rgba(255,255,255,.5);

::-webkit-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus::-webkit-input-placeholder {
	opacity:.5;
}

::-moz-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus::-moz-placeholder {
	opacity:.5;
}

:-ms-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus:-ms-input-placeholder {
	opacity:.5;
}

html,body {
	height:100%;

}
body {
    overflow: hidden;
    background:#000000 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/68397/forest-fly-agaric-fog-moss-fliegenpilz.jpg) no-repeat center bottom;
	background-size:cover;
	box-shadow:inset 0 0 5em #000;
    color:white;
}
#myChart
    {
        display: unset !important;
        position: relative;
        margin:0px;
        padding: 0px;
        height:400px;
        width:800px;
        }
#students
{
        color:white;
        position: absolute;
        top:30px;
        right:10px;
        width:auto;
}
article
{
            height:auto;
            width:auto;
}
li
{
    padding:2px;
}
#participants
{
    display:none;
    width:75%;
    height:500px;
    overflow:auto;
}
video
{
    width: 45% !important;
    max-height: inherit !important;
}
#livestatus
    {
    display:none;
    position: absolute;
    right: 10px;
    bottom: 30%;
    width: 20%;
    height: 20%;
    border-color: white;
    border-width: 2px;
    border-style: dashed;
    padding: 20px;
    }
#close
  {
    display:none;
    background-color: green;
    color:white;
      &:hover {
        background-color: yellow;
        color:black;
        }
  }
    #rooms-list
      {
        position:absolute;
        top:10%;
        left:80%;
        }